{% trans_default_domain 'XLUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'Family' }}: {{ user.family }}</p>
    <p>{{ 'Age' }}: {{ user.age }} {{ ' years' }}</p>
    <p>{{ 'Race' }}: {{ user.race }}</p>
    <p>{{ 'Food' }}: {{ user.food }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    <a href="{{ path('fos_user_profile_edit') }}">
        {{ 'Edit Profil' }}
    </a>
    <br>
    <a href="{{ path('fos_user_change_password') }}">
        {{ 'Edit Password' }}
    </a>
</div>